## Imports

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv("student.csv",  index_col=0)

df = pd.DataFrame(data)

## EDA

In [18]:
df.head()

,Id,Student_Age,Sex,High_School_Type,Scholarship,Additional_Work,Sports_activity,Transportation,Weekly_Study_Hours,Attendance,Reading,Notes,Listening_in_Class,Project_work,Grade
Index,,,,,,,,,,,,,,,
0,5001,21,Male,Other,50%,Yes,No,Private,0,Always,Yes,Yes,No,No,AA
1,5002,20,Male,Other,50%,Yes,No,Private,0,Always,Yes,No,Yes,Yes,AA
2,5003,21,Male,State,50%,No,No,Private,2,Never,No,No,No,Yes,AA
3,5004,18,Female,Private,50%,Yes,No,Bus,2,Always,No,Yes,No,No,AA
4,5005,22,Male,Private,50%,No,No,Bus,12,Always,Yes,No,Yes,Yes,AA

In [5]:
#Vemos estructura de datos.

print("La data tiene: ", df.shape[0], " filas y ", df.shape[1], " columnas")

La data tiene:  145  filas y  16  columnas

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               145 non-null    int64
 1   Id                  145 non-null    int64
 2   Student_Age         145 non-null    int64
 3   Sex                 145 non-null    object
 4   High_School_Type    145 non-null    object
 5   Scholarship         145 non-null    object
 6   Additional_Work     145 non-null    object
 7   Sports_activity     145 non-null    object
 8   Transportation      145 non-null    object
 9   Weekly_Study_Hours  145 non-null    int64
 10  Attendance          145 non-null    object
 11  Reading             145 non-null    object
 12  Notes               145 non-null    object
 13  Listening_in_Class  145 non-null    object
 14  Project_work        145 non-null    object
 15  Grade               145 non-null    object
dtypes: int64(4), object(12)
memory usage: 18.3+ KB

In [7]:
categoricas = []

for columna in df.columns:
    if df[columna].dtype=='O':
        categoricas.append(columna)
        
print("Hay ", len(categoricas), " variables.")


print("Las variables categoricas son: ")
print("*"*100)
for var in categoricas:
    print(var)

Hay  12  variables.
Las variables categoricas son:
****************************************************************************************************
Sex
High_School_Type
Scholarship
Additional_Work
Sports_activity
Transportation
Attendance
Reading
Notes
Listening_in_Class
Project_work
Grade

In [8]:
#Vemos los primeros registros de las categoricas:


df[categoricas].head()

,Sex,High_School_Type,Scholarship,Additional_Work,Sports_activity,Transportation,Attendance,Reading,Notes,Listening_in_Class,Project_work,Grade
0,Male,Other,50%,Yes,No,Private,Always,Yes,Yes,No,No,AA
1,Male,Other,50%,Yes,No,Private,Always,Yes,No,Yes,Yes,AA
2,Male,State,50%,No,No,Private,Never,No,No,No,Yes,AA
3,Female,Private,50%,Yes,No,Bus,Always,No,Yes,No,No,AA
4,Male,Private,50%,No,No,Bus,Always,Yes,No,Yes,Yes,AA

In [9]:
#Vemos si hay nulos:

df[categoricas].isnull().sum()

Sex                   0
High_School_Type      0
Scholarship           0
Additional_Work       0
Sports_activity       0
Transportation        0
Attendance            0
Reading               0
Notes                 0
Listening_in_Class    0
Project_work          0
Grade                 0
dtype: int64

In [10]:
#Vemos la frecuencia de los valores

for var in categoricas:
    print(df[var].value_counts())
    print("*"* 35)

Male      87
Female    58
Name: Sex, dtype: int64
***********************************
State      103
Private     25
Other       17
Name: High_School_Type, dtype: int64
***********************************
50%     76
75%     42
100%    23
25%      3
None     1
Name: Scholarship, dtype: int64
***********************************
No     96
Yes    49
Name: Additional_Work, dtype: int64
***********************************
No     87
Yes    58
Name: Sports_activity, dtype: int64
***********************************
Private    84
Bus        61
Name: Transportation, dtype: int64
***********************************
Always       98
Sometimes    25
Never        21
3             1
Name: Attendance, dtype: int64
***********************************
No     76
Yes    69
Name: Reading, dtype: int64
***********************************
Yes    77
No     66
6       2
Name: Notes, dtype: int64
***********************************
Yes    75
No     69
6       1
Name: Listening_in_Class, dtype: int64
***********************************
No     73
Yes    72
Name: Project_work, dtype: int64
***********************************
AA      35
BA      24
BB      21
CC      17
DD      17
DC      13
CB      10
Fail     8
Name: Grade, dtype: int64
***********************************

In [11]:
#Vemos la frecuencia de los valores en porcentajes
for var in categoricas:
    counts = df[var].value_counts()
    total = len(df)
    porcentaje = counts / total * 100
    print(porcentaje)
    print('*' * 50)

Male      60.0
Female    40.0
Name: Sex, dtype: float64
**************************************************
State      71.034483
Private    17.241379
Other      11.724138
Name: High_School_Type, dtype: float64
**************************************************
50%     52.413793
75%     28.965517
100%    15.862069
25%      2.068966
None     0.689655
Name: Scholarship, dtype: float64
**************************************************
No     66.206897
Yes    33.793103
Name: Additional_Work, dtype: float64
**************************************************
No     60.0
Yes    40.0
Name: Sports_activity, dtype: float64
**************************************************
Private    57.931034
Bus        42.068966
Name: Transportation, dtype: float64
**************************************************
Always       67.586207
Sometimes    17.241379
Never        14.482759
3             0.689655
Name: Attendance, dtype: float64
**************************************************
No     52.413793
Yes    47.586207
Name: Reading, dtype: float64
**************************************************
Yes    53.103448
No     45.517241
6       1.379310
Name: Notes, dtype: float64
**************************************************
Yes    51.724138
No     47.586207
6       0.689655
Name: Listening_in_Class, dtype: float64
**************************************************
No     50.344828
Yes    49.655172
Name: Project_work, dtype: float64
**************************************************
AA      24.137931
BA      16.551724
BB      14.482759
CC      11.724138
DD      11.724138
DC       8.965517
CB       6.896552
Fail     5.517241
Name: Grade, dtype: float64
**************************************************

## Cardinalidad

In [12]:
#Vemos la cardinalidad 

for var in categoricas:
    print(var, ' tiene ', len(df[var].unique()), ' etiquetas')
    
#Ojo con native_country

Sex  tiene  2  etiquetas
High_School_Type  tiene  3  etiquetas
Scholarship  tiene  5  etiquetas
Additional_Work  tiene  2  etiquetas
Sports_activity  tiene  2  etiquetas
Transportation  tiene  2  etiquetas
Attendance  tiene  4  etiquetas
Reading  tiene  2  etiquetas
Notes  tiene  3  etiquetas
Listening_in_Class  tiene  3  etiquetas
Project_work  tiene  2  etiquetas
Grade  tiene  8  etiquetas

In [13]:
numericas = []

for columna in df.columns:
    if df[columna].dtype!='O':
        numericas.append(columna)
        
print("Hay ", len(numericas), " variables.")


print("Las variables numericas son: ")
print("*"*100)
for var in numericas:
    print(var)

Hay  4  variables.
Las variables numericas son:
****************************************************************************************************
Index
Id
Student_Age
Weekly_Study_Hours

In [14]:
# Queremos ver como se mira el df solo con las numericas para ver si son discretas o continuas.


df[numericas].head()

#son numericas discretas

   Index    Id  Student_Age  Weekly_Study_Hours
0      0  5001           21                   0
1      1  5002           20                   0
2      2  5003           21                   2
3      3  5004           18                   2
4      4  5005           22                  12

In [15]:
df[numericas].isnull().sum()

Index                 0
Id                    0
Student_Age           0
Weekly_Study_Hours    0
dtype: int64

In [16]:
# Crear un DataFrame con los datos proporcionados

# Codificar variables categóricas
label_encoders = {}
categorical_columns = ['Sex', 'High_School_Type', 'Scholarship', 'Additional_Work', 'Sports_activity', 'Transportation', 'Attendance', 'Reading', 'Notes', 'Listening_in_Class', 'Project_work', 'Grade']

for column in categorical_columns:
	label_encoders[column] = LabelEncoder()
	df[column] = label_encoders[column].fit_transform(df[column])

# Definir variables predictoras (X) y variable objetivo (y)
X = df.drop(['Index', 'Id', 'Grade'], axis=1)
y = df['Grade']

# Dividir el conjunto de datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar y entrenar el modelo Naive Bayes
model = GaussianNB()
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Precisión del modelo: {accuracy*100:_.2f}%")

Precisión del modelo: 20.69%